body
{
	background-color : #5A431E;
	margin : 0px;
	padding : 0px;
}

a
{
	text-decoration:none; 
	color : #820004
}

a:hover
{
	text-decoration : underline;
	color : #C44E26;
}

.main-div
{
	margin : 0px; 
	padding : 0px; 
	color : #482917; 
	font-family : trebuchet MS; 
	font-size : 14px;
}

.header-div
{
	width : 700px; 
	background-color : #F0E4D2;
	border : SOLID 2px #BC8636;
	text-align : center;
	-moz-border-radius-topleft : 25px;
	-moz-border-radius-topright : 25px;	
}

.footer-div
{
	width : 700px;
	background-color : #F0E4D2;
	border-bottom : SOLID 2px #BC8636;
	border-left : SOLID 2px #BC8636;
	border-right : SOLID 2px #BC8636;
}

.content-div
{
	width : 700px; 
	background-color : #F0E4D2;
	border-left : SOLID 2px #BC8636;
	border-right : SOLID 2px #BC8636;
}

.banner-arrow
{
	background-image: url('../img/arrow.png');
	width :50px; 
	height : 57px; 
	float:left;
}

.banner-sign
{
	width :120px;
	height : 55px;
	float:left;
	padding : 10px;
	text-align:center;
	border : #AB0104 SOLID 3px;
	background-color : #BF8F41;
	-moz-border-radius : 10px;
	
}

.banner-hilite
{
	font-size : 24px; 
	font-weight : bold; 
	color : #EADAC1
}

.scroll-arrow
{
	height : 100%; 
	float : left; 
	width : 27px;
	cursor : pointer;
}

.preview-pane
{
	border : SOLID 1px BLACK; 
	padding: 5px; 
	height : 100%;
	width : 100%;
	overflow : hidden;
	background-color : #EEEEEE;
	text-align : left;
}

.scroll-pane
{
	height : 78px; 
	width : 490px; 
	vertical-align:middle; 
	float : left; 
	border-left : SOLID 1px BLACK; 
	border-right:SOLID 1px BLACK;
	text-align : left;
	overflow : hidden;
	z-index : 100;
}

.section-title
{
	font-weight : bold;
	width : 100%;
}

.label-text
{
	color : #820004;
}

.warning-text
{
	width : 100%; 
	font-size : 10px; 
	color : #820004; 
	display : none; 
	text-align:center
}

.text-box
{
	border :SOLID 1px #820004; 
	padding : 4px; 
}

.container-div
{
	width : 100%;
	display : table;
	clear : both;
}

