a
{
	text-decoration:none; 
	color : #820004
}

a:hover
{
	text-decoration : underline;
	color : #C44E26;
}

.main-div
{
	background-color : BLACK; 
	margin : 0px; 
	padding : 0px; 
	color : #482917; 
	font-family : trebuchet MS; 
	font-size : 14px;
}

.header-div
{
	width : 900px; 
	background-image : url('../img/header.jpg'); 
	height : 267px;
}

.footer-div
{
	width : 900px; 
	background-image : url('../img/footer.jpg');
	height : 60px;
}

.content-div
{
	width : 900px; 
	background-image : url('../img/center.jpg');
	background-repeat:repeat-y;
}

.banner-arrow
{
	background-image: url('../img/arrow.png');
	width :50px; 
	height : 57px; 
	float:left;
}

.banner-sign
{
	background-image: url('../img/banner3.png');
	width :120px;
	height : 55px;
	float:left;
	padding : 10px;
	text-align:center
}

.banner-hilite
{
	font-size : 24px; 
	font-weight : bold; 
	color : #EADAC1
}

.scroll-arrow
{
	height : 100%; 
	float : left; 
	width : 27px;
	cursor : pointer;
}

.preview-pane
{
	border : SOLID 1px BLACK; 
	padding: 5px; 
	height : 100%;
	width : 100%;
	overflow : hidden;
	background-color : #EEEEEE;
	text-align : left;
}

.scroll-pane
{
	height : 78px; 
	width : 490px; 
	vertical-align:middle; 
	float : left; 
	border-left : SOLID 1px BLACK; 
	border-right:SOLID 1px BLACK;
	text-align : left;
	overflow : hidden;
	z-index : 100;
}

.section-title
{
	font-weight : bold;
	width : 100%;
}

.label-text
{
	color : #820004;
}

.warning-text
{
	width : 100%; 
	font-size : 10px; 
	color : #820004; 
	display : none; 
	text-align:center
}

.text-box
{
	border :SOLID 1px #820004; 
	padding : 4px; 
}

.container-div
{
	width : 100%;
	display : table;
	clear : both;
}
